<nav>
    <img id="title" src="assets/img/finantekaPurple.svg" height="60" alt="">
    <div id="menu">
        <div id="options">
            <a href="#">
                ¿Cómo Funciona?
            </a>
            <a href="#">
                ¿Quiénes Somos?
            </a>
        </div>
        <div id="contact">
            <a href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#">
                <i class="fas fa-phone"></i>
                5569015325
            </a>
            <a href="#">
                <i class="far fa-envelope"></i>
                info@finanteka.com
            </a>
        </div>
    </div>
</nav>